In [20]:
import csv
import random
import time
import playsound
import pandas as pd
import numpy as np
import os
import rich

## Testing Color Display

In [21]:
#example from rich docs
from random import randint
from rich import print
from rich.highlighter import Highlighter


class RainbowHighlighter(Highlighter):
    def highlight(self, text):
        for index in range(len(text)):
            text.stylize(f"color({randint(16, 255)})", index, index + 1)


rainbow = RainbowHighlighter()
print(rainbow("I must not fear. Fear is the mind-killer."))

In [34]:
#definind my own highlighter class
class BlockColor(Highlighter):
    def highlight(self, text):
        text.Style(background_style(colout))


block = BlockColor()
print(block("     background magic?"))

NameError: name 'Style' is not defined

In [36]:
from rich import print as rprint
from rich import color
from rich import console
colout = master.loc[colors]['data'].sample().to_string(index=False).strip()
colout

'#7509b8'

In [47]:
#find the alt text for colout using pandas
master.loc[master['data'] == colout]['alttext'].to_string(index=False).strip()

'purple'

In [45]:
rprint(colout, f"[default on {colout}]                 [/]")

## Testing GBIF Datasets

In [153]:
chordata_raw = pd.read_csv('../lists/chordata.csv')
chordata_raw.head()
chordata_raw['class'].unique()

array(['Actinopterygii', 'Amphibia', 'Appendicularia', 'Ascidiacea',
       'Aves', 'Cephalaspidomorphi', 'class', 'Elasmobranchii',
       'Holocephali', 'Leptocardii', 'Mammalia', 'Myxini', 'Reptilia',
       'Sarcopterygii', 'Thaliacea', nan], dtype=object)

In [144]:
classnum = pd.DataFrame(chordata_raw.groupby("class").size())
classnum.columns=["n"]
classnum

                        n
class
Actinopterygii      58523
Amphibia            11993
Appendicularia         71
Ascidiacea           3167
Aves                32048
Cephalaspidomorphi    167
Elasmobranchii       2840
Holocephali           257
Leptocardii            44
Mammalia            24647
Myxini                115
Reptilia            24427
Sarcopterygii         369
Thaliacea             115
class                   1

In [168]:
classes = pd.DataFrame(chordata_raw.groupby("class"))
cat = ["fish", "herp", "weird", "weird", "bird", "fish", "fish", "fish", "weird", "mammal", "fish", "herp", "fish", "weird", "wrong"]
classes['cat'] = cat
classcat = classes.drop(columns=[1])
classcat.columns = ["class", "cat"]
classcat.to_csv('../lists/classcat.csv', index=False)
classcat

                 class     cat
0       Actinopterygii    fish
1             Amphibia    herp
2       Appendicularia   weird
3           Ascidiacea   weird
4                 Aves    bird
5   Cephalaspidomorphi    fish
6       Elasmobranchii    fish
7          Holocephali    fish
8          Leptocardii   weird
9             Mammalia  mammal
10              Myxini    fish
11            Reptilia    herp
12       Sarcopterygii    fish
13           Thaliacea   weird
14               class   wrong

In [110]:
#masks
rayfish = chordata_raw['class'] == 'Actinopterygii'
tunicates = chordata_raw['class'] == 'Ascidiacea'
birds = chordata_raw['class'] == 'Aves'
jawlessfish = chordata_raw['class'] == 'Cephalaspidomorphi'
sharks = chordata_raw['class'] == 'Elasmobranchii'
chimaeras = chordata_raw['class'] == 'Holocephali'
amphioxis = chordata_raw['class'] == 'Leptocardii'
mammals = chordata_raw['class'] == 'Mammalia'
hagfish = chordata_raw['class'] == 'Myxini'
reptiles = chordata_raw['class'] == 'Reptilia'
lobefish = chordata_raw['class'] == 'Sarcopterygii'

In [93]:
population_dict = {'rayfish': rayfish.shape[0],
                   'tunicates': tunicates,
                   'jawlessfish': jawlessfish,
                   'sharks': sharks,
                   'chimaeras': chimaeras
                   'amphioxis': rayfish.shape[0],
                   'tunicates': tunicates,
                   'mammals': jawlessfish,
                   'sharks': sharks,
                   'chimaeras': chimaeras
                  }

rayfish.shape[0]+lobefish.shape[0]

322426

In [64]:
plantae_raw = pd.read_csv('../lists/plantae.csv')
plantae_raw.head()

,Kingdom,Phylum,Class,Order,Family,Genus,species
0,Plantae,Tracheophyta,Magnoliopsida,Magnoliales,Myristicaceae,Myristica,Myristica inutilis
1,Plantae,Tracheophyta,Magnoliopsida,Geraniales,Geraniaceae,Erodium,Erodium absinthoides
2,Plantae,Tracheophyta,Magnoliopsida,Rosales,Rosaceae,Sorbus,Sorbus aucuparia
3,Plantae,Tracheophyta,Magnoliopsida,Malpighiales,Salicaceae,Salix,Salix pellita
4,Plantae,Tracheophyta,Magnoliopsida,Solanales,Convolvulaceae,Evolvulus,Evolvulus alsinoides

In [66]:
plantae = plantae_raw['species']
plantae.head()

0      Myristica inutilis
1    Erodium absinthoides
2        Sorbus aucuparia
3           Salix pellita
4    Evolvulus alsinoides
Name: species, dtype: object

In [67]:
print(plantae.sample().to_string())

102120    Myosotis olympica

## Master List and Masks

In [28]:
master = pd.read_csv('../lists/master.csv')
master.head()

      type             data category alttext
0  subject  mole salamander   animal     NaN
1  subject   elephant shrew   animal     NaN
2  subject             pika   animal     NaN
3  subject      harpy eagle   animal     NaN
4  subject              kea   animal     NaN

In [6]:
#masks
allsub = master['type'] == 'subject'
animals = master['category'] == 'animal'
plants = master['category'] == 'plant'
objects = master['category'] == 'household object'
colors = master['type'] == 'color'
schemes = master['type'] == 'scheme'
limits = master['type'] == 'limits'

master[allsub].sample()

       type     data category alttext
35  subject  narwhal   animal     NaN

In [36]:
master.loc[master['type'] == 'subject']['data'].sample()

58    dumbbell
Name: data, dtype: object

In [62]:
print(master.loc[animals]['data'].sample().to_string())

33    okapi

In [37]:
## examples from stack exchange
df = pd.DataFrame({'A': 'foo bar foo bar foo bar foo foo'.split(),
               'B': 'one one two three two two one three'.split(),
               'C': np.arange(8), 'D': np.arange(8) * 2})
print(df)

print(df.loc[df['D'] == 14]['A'].index.values)

print(df.loc[df['D'] == 14]['A'].values)

     A      B  C   D
0  foo    one  0   0
1  bar    one  1   2
2  foo    two  2   4
3  bar  three  3   6
4  foo    two  4   8
5  bar    two  5  10
6  foo    one  6  12
7  foo  three  7  14
[7]
['foo']

In [85]:
limit = master.loc[master['type'] == 'limit']['data'].sample()
int(limit)*60

600

In [84]:
limit

127    5
Name: data, dtype: object

## Testing Timer

In [ ]:
def timer(t):
    """
    starts a countdown timer; enter time in seconds:
    1 min = 60
    5 min = 300
    10 min = 600
    15 min = 900
    30 min = 1800
    1 hr = 3600
    """
    
    while t:
        mins, secs = divmod(t, 60)
        timeformat = '{:02d}:{:02d}'.format(mins, secs)
        print(timeformat, end='\r')
        time.sleep(1)
        t -= 1
    print("Time's Up!\n\n\n\n\n")
    from playsound import playsound
    playsound('mallet.mp3')

In [ ]:
timer(5)

In [ ]:
with open('lists/animals.csv', newline='', encoding='utf-8-sig') as f1:
        reader1 = csv.reader(f1)
        animals = list(reader1)

with open('lists/plants.csv', newline='', encoding='utf-8-sig') as f2:
        reader2 = csv.reader(f2)
        plants = list(reader2)

with open('lists/objects.csv', newline='', encoding='utf-8-sig') as f3:
        reader3 = csv.reader(f3)
        objects = list(reader3)

with open('lists/schemes.csv', newline='', encoding='utf-8-sig') as f5:
        reader5 = csv.reader(f5)
        schemes = list(reader5)

In [ ]:
schemes

In [ ]:
ALLSUB = [animals, plants, objects]

In [ ]:
def colorscheme():
    "returns a color scheme"
    print(random.choice(schemes))

In [ ]:
colorscheme()

In [ ]:
print(random.choice(objects))

In [ ]:
rand = random.choice(ALLSUB)
print(random.choice(rand))

In [ ]:
rand = random.choice(ALLSUB)

In [ ]:
rand

In [ ]:
print(random.choice(rand))

In [ ]:
def subject(arg):
    "returns a subject"

    if arg == "animal":
        print(random.choice(animals))

    elif arg == "plant":
        print(random.choice(plants))

    elif arg == "object":
        print(random.choice(objects))

    else:
        rand = random.choice(ALLSUB)
        print(random.choice(rand))

In [ ]:
subject("")

In [ ]:
from playsound import playsound

playsound('mallet.mp3')

In [ ]:
#!/usr/bin/env python

"""
A function that generates a random sketch prompt with options:
1. subject
2. time limit
3. color scheme
4. main hue

Also provides a countdown timer

"""
import csv
import random
import time


# Read in lists
with open('lists/animals.csv', newline='', encoding='utf-8-sig') as f1:
        reader1 = csv.reader(f1)
        animals = list(reader1)

with open('lists/plants.csv', newline='', encoding='utf-8-sig') as f2:
        reader2 = csv.reader(f2)
        plants = list(reader2)

with open('lists/objects.csv', newline='', encoding='utf-8-sig') as f3:
        reader3 = csv.reader(f3)
        objects = list(reader3)

with open('lists/limits.csv', newline='', encoding='utf-8-sig') as f4:
        reader4 = csv.reader(f4)
        limits = list(reader4)

with open('lists/schemes.csv', newline='', encoding='utf-8-sig') as f5:
        reader5 = csv.reader(f5)
        schemes = list(reader5)

with open('lists/colors.csv', newline='', encoding='utf-8-sig') as f6:
        reader6 = csv.reader(f6)
        colors = list(reader6)

#Define variables
ALLSUB = [animals, plants, objects]
timeout = []
timetosec = {}

def prompt(arg):
    """
    returns a sketch prompt
    """

def subject(arg):
    "returns a subject"

    if arg == "animal":
        print(random.choice(animals))

    elif arg == "plant":
        print(random.choice(plants))

    elif arg == "object":
        print(random.choice(objects))

    else:
        rand = random.choice(ALLSUB)
        print(*random.choice(rand))



def timelimit():
    "returns a time limit"
    timelimit.timeout = random.choice(limits)
    timelimit.timetosec = int(timelimit.timeout[0])*60
    print(timelimit.timeout[0], "minute(s)")
    

def colorscheme():
    "returns a color scheme"
    print(*random.choice(schemes))

def color():
    "returns a main color for the color scheme"
    print(*random.choice(colors))  

def timer(t):
    """
    starts a countdown timer; enter time in seconds:
    1 min = 60
    5 min = 300
    10 min = 600
    15 min = 900
    30 min = 1800
    1 hr = 3600
    ---
    Timer requires PyObjC  and playsound modules
    pip3 install -U PyObjC
    pip3 install playsound
    """
    while t:
        mins, secs = divmod(t, 60)
        timeformat = '{:02d}:{:02d}'.format(mins, secs)
        print(timeformat, end='\r')
        time.sleep(1)
        t -= 1
    from playsound import playsound
    playsound('mallet.mp3')
    print("Time's Up!\n\n\n\n\n")


if __name__ == "__main__":
    subject("")
    timelimit()
    colorscheme()
    color()
    timer(timelimit.timetosec)

iris
10 minute(s)
triad
yellow

In [ ]:
with open('lists/limits.csv', newline='', encoding='utf-8-sig') as f4:
        reader4 = csv.reader(f4)
        limits = list(reader4)

In [ ]:
limits

In [ ]:
with open('lists/colors.csv', newline='', encoding='utf-8-sig') as f6:
        reader6 = csv.reader(f6)
        colors = list(reader6)

In [ ]:
timeout=""
timetosec={}

def timelimit():
    "returns a time limit"
    timeout = random.choice(limits)
    timetosec = timeout*60
    print(*timeout, "minute(s)")

In [ ]:
timelimit()
timetosec

In [ ]:
timeout = random.choice(limits)

In [25]:
timeout = []
timetosec = {}

def timelimit():
    "returns a time limit"
    timelimit.timeout = random.choice(limits)
    timelimit.timetosec = int(timelimit.timeout[0])*60
    print(*timeout, "minute(s)")

def timer(t):
    """
    starts a countdown timer; enter time in seconds:
    1 min = 60
    5 min = 300
    10 min = 600
    15 min = 900
    30 min = 1800
    1 hr = 3600
    ---
    Timer requires PyObjC  and playsound modules
    pip3 install -U PyObjC
    pip3 install playsound
    """
    while t:
        mins, secs = divmod(t, 60)
        timeformat = '{:02d}:{:02d}'.format(mins, secs)
        print(timeformat, end='\r')
        time.sleep(1)
        t -= 1
    from playsound import playsound
    playsound('mallet.mp3')
    print("Time's Up!\n\n\n\n\n")   
    
timelimit()
timelimit.timetosec

minute(s)

900

In [23]:
int(timelimit.timeout[0])

1

In [ ]:
str = timelimit.timeout[0]

In [1]:
string = "10"

In [2]:
string

'10'

In [3]:
int(string)

10